.contactListWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  padding: 8px;
  margin-top: 20;
  justify-items: center;
  align-items: center;
}

.contactListHeader {
  width: 95%;
  margin: 8px 16px;
  text-align: center;
  border-bottom: 1px solid #bbbebb;
  font-size: 16px;
}

.contactList {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.contactListContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 16px 0;
}

.contactListContent a {
  margin: 8px;
  text-decoration: none;
}

.addButton {
  margin: 8px;
  width: 180;
}

@media only screen and (max-width: 800px) {
  .contactListContent {
    width: 100%;
  }
}